<!DOCTYPE html>
<html lang="ca">

<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <title>My App</title>
   <link href="/static/css/my_app.css" rel="stylesheet">
</head>

<body>
   <h3>Item {{ item.id }}</h3>
   <a href="/items/update/{{ item.id }}">Modificar item</a>
   <br />
   <a href="/items/delete/{{ item.id }}">Esborrar item</a>
   <ul>
      <li>Nom: {{ item.nom }}</li>
      <li>Unitats: {{ item.unitats }}</li>
      <li>Supermercat: {{ store.nom }} </li>
   </ul>
   <a href="/items/list">&#x3c;&#x3c; Tornar al llistat d'items</a>
</body>

</html>